@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #75B79E;
    font-size: 63px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#container {
    /* padding: 0 120px; */
    width: 80%;
    position: fixed;
    top:350px;
    left: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

#end {
    display: flex;
    justify-content: center;
}

#end h2 {
    font-size: 20px;
    font-weight: 700;
}

/* Button */

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#btn.game-started {
    display: none;
}

#btn button {
    border: none;
    height: 40px;
    width: 250px; 
    background-color: #75B79E;
    font-size: 20px;
    color: rgb(39, 38, 38);
    border-radius: 20px;
    cursor: pointer;
}

/* Cards */

.card {
    width: 120px;
    height: 150px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
    margin-bottom: 40px;
    transition: transform .5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.card img {
    width: 100px;
    height: 100px;
}

.card.turned {
    transform: rotateY(180deg);
}