@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

i {
    color: #32B72F;
}

.bold {
    text-transform: uppercase;
    font-weight: 700;
}

/* Header */

header {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #CF2B2B;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-top: 10px;
}

header > h1 {
    font-family: 'Righteous', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 44px;
}

header > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

/* Container */

#container {
    margin: 100px 0 90px 10px;
}

#container h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 26px;
}

#container > div > h1 {
    margin-top: 30px;
}

#main-dish > h1 {
    padding-top: 20px;
}

#selector-main-dish,
#selector-drink,
#selector-dessert {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#selector-main-dish::-webkit-scrollbar,
#selector-drink::-webkit-scrollbar,
#selector-dessert::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#selector-main-dish,
#selector-drink,
#selector-dessert {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


.option {
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 5px;
    width: 172px;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    margin-left: 0;
    font-size: 16px;
} 

.option > div {
    width: 145px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.option img {
    border-radius: 5px;
    width: 144px;
    height: 87px;
}

.option h2 {
    font-size: 16px;
}

.option p {
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
}

.price {
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}

.option i {
    opacity: 0;
}

.selected {
    border: 3px solid #32B72F;
}

.selected i {
    opacity: 1;
}




/* Footer */

footer {
    background-color: white;
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > button {
    background-color: #CBCBCB;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 30px;
    padding: 0 20%;
}

button.order-ready {
    background-color: #32B72F;
}

/* Modal */

#modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255,255,0.6); /* Black w/ opacity */
}

#modal div {
    padding: 20px;
    height: 380px;
    width: 90%;
    background-color: #50D074;
    margin: 0 auto;
    margin-top: 60%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 5px -5px 5px 3px rgba(0, 0, 0, 0.2);
}

#modal p {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

#modal button {
    width: 90%;
    background-color: white;
    border: none;
    height: 50px;
    border-radius: 25px;
    color: #50D074;
    font-weight: 700;
    font-size: 22px;
}

#modal a {
    color: white;
    font-size: 20px;
}

.remove {
    display: none;
}